*{box-sizing: content-box;}
body{
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
  background-color: #D9D9D9;
  margin: 0;
}
.robotoFont{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}
nav{
  text-align: right;
  font-size: 1.2rem;
  background-color: #5B5757;
  position: fixed;
  top: 0;
  width: 100%;
  opacity:0.9;
  z-index: 99;
  color: white;
}
nav li{display: inline; margin:2%}
nav a{text-decoration: none; color: white;}
nav a:hover{color:#CD611E;}
.register-con{
  background-color: #CD611E;
  padding: 0.5%;
  border-radius: 40px;
  margin-right: 1%;
}
#header-overlay{
  position: absolute; /* Position the overlay relative to the header */
  top: 0;
  left: 0;
  width: 100%; /* Ensure the overlay covers the entire header */
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4); /* Black color with 0.6 opacity */
}
#header-home{
  background-image: url("images/headerPic.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  position: relative;
}
#header-home h1{
  text-align: center;
  padding-top: 15%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 5rem;
  z-index: 5;
  line-height: 1.4;
}
#header-register,
#header-course {text-align: center; padding-top: 5%; height: 20vh;}
#header-register,
#header-course h1{
  font-size: 3rem; 
  color: #CD611E;
  letter-spacing: 3px;
}
.span-header{
  color: #FF914D;
}
#main-home{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 40% 5%;
  background-color: #D9D9D9;
}
#main-home section{
  margin: 25% 5% 0 5%;
  font-size: 1.2rem;
  line-height: 1.4;
}
#main-home img{
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.leftSide-course{
  display: flex;
  width: 100%;
  background-color: #7B7979; 
}
.leftSide-course img{
  width: 30%;
  margin: 2%;
  object-fit: cover;
}
.div-description-left{
  margin: 3%;
  color: white;
}

.rightSide-course{
  display: flex;
  width: 100%;
  background-color: #a09c9c; 
  justify-content: flex-end;
}
.rightSide-course img{
  width: 30%;
  margin: 2%;
  object-fit: cover;
}
.div-description-right{
  margin: 3%;
  color: white;
  text-align: right;
}
.div-description-right ul{
  direction: rtl;
}

.leftSide-course{
  display: flex;
  width: 100%;
  background-color: #7B7979; 
}
.leftSide-course img{
  width: 30%;
  margin: 2%;
}
.div-description-left{
  margin: 3%;
  color: white;
}
#flex-register{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  gap: 5%;
  padding: 4% 4% 4% 4%;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
#flex-register div{
  position: relative;
  background-color: #7B7979;
  padding-bottom: 5%;
  border-radius: 10%;
}
#flex-register img{
  width: 100%;
  border-radius: 10%;
  object-fit: contain;
}
#flex-register .price{
  border-radius: 0;
  opacity: 0.9;
  position: absolute;
  top: 10%;
  right: 0%;
  padding: 2% 8% 2% 8%;
  background-color: white;
  color: black;
  font-size: 1.4rem;
}
#flex-register h3{margin-top: 0; }
#form-register{
  padding: 2%;
  border:2px solid black;
  margin: 0 30% 0 30%;
  line-height: 1.5;
  font-size: 1.2rem;
  background-color: rgb(232, 229, 229);
}
#form-register #calculateBtn{
  margin: 0 45% 0 45%;
  font-size: 1rem;
  padding: 2%;
}

footer{
  display: flex;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 4%;
  background-color: #5B5757;
  color: #D9D9D9;
  font-size: 1.1rem;
  line-height: 1.5;
}
footer a{color: #D9D9D9;}
footer a:hover{color: #FF914D;}
footer h3{
  color: #FF914D;
  font-size: 1.9rem;
}
footer h3 span{letter-spacing: 5px;}